#signup {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(""); */

  }
  .input {
    outline: 0;
    z-index: 1;
    position: relative;
    background: #00000052;
    border-radius: 0.6em;
    width: 100%;
    height: 60px;
    border: 0;
    color: #f3f4f6;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .input:focus {
    background: #00000052;
  }
  .btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #fdc100;
    border-radius: 0.6em;
    color: #fdc100;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  form {
    background-color: #2a3d4ad6;
    padding: 30px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 38px;
    width: 60%;
    /* height: 100%; */
    position: absolute;
    left: 20%;
    top: 10%;

  }

  .form{
      margin: 10px;
      width: 100%;
      height: 100vh;
      padding: auto;
      position: relative;

  
  }
  .message{
      color: #f3f4f6;
      font-size: 1.2rem;
  }

  #imgSingup{
      
      width: 100%;
      height: 100vh;
  }
.imgSingup{
    width: 100%;

}
.yellow{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(-225deg, #fdc100 50%, #ffe6fa00 50%);
}