.recipeX {
  background-color: #f1c50e;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recipeP {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  background-color: #f1c50e;
}
.recipeXX {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
  width: 55%;
}
.recipeImgX {
  width: 40%;
  height: 90vh;
  object-fit: cover;
}

.recipeNote {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
#title {
  text-align: left;
}
.deleRecipe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
}
.right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#note {
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
}

@media (max-width: 999px) {
}
@media (min-width: 1000px) {
}
