.container {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fdc100;
  /* color: #1e3966; */
  /* border-color: #f3f4f6; */
  /* color: #feffff; */
}

.homeImg {
  width: 80%;
  height: 100vh;
  object-fit: cover;
}
.ImgBox {
  position: relative;
}
.loginBox {
  position: absolute;
  background-color: #2a3d4ad6;
  width: 40%;
  top: 17%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #f3f4f6;
  font-size: 5rem;
}
.titleBox{
    /* height: 20rem; */
}
#login{
    outline: 0;
    z-index: 1;
    position: relative;
    background: transparent;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
}

@media (max-width: 650px) {
  .loginBox {
    width: 75%;
  }
  .homeh1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 999px) {

    .loginBox{
        width: 60%;
        }
}
@media (min-width: 1000px) {
}
